@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&family=JetBrains+Mono:wght@400;500&display=swap");

@import "tailwindcss";

/* :root{
  --color-bg: #f7f5f2;
  --color-bg-soft: #0f0f0f;
  --color-surface: #111111;
  --color-border: #222222cc;
  --color-accent: #10b981;
  --color-dark-accent: #107b6c;
  --color-accent-glow: #34d399;
  --color-text: #ffffff;
  /* --color-text-dim: #555560; */
/*--color-nav: #555560;
  --color-text-dark: #2f3031;
  --color-muted: #6b7280;
  --font-display: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
} */

@theme {
  --color-bg: #f7f5f2;
  --color-bg-soft: #0f0f0f;
  --color-surface: #111111;
  --color-border: #222222cc;
  --color-accent: #0f7b6c;
  --color-dark-accent: #107b6c;
  --color-bg-dark: #efece7;
  --color-accent-glow: #34d399;
  --color-text: #ffffff;
  /* --color-text-dim: #555560; */
  --color-nav: #555560;
  --color-text-dark: #2f3031;
  --color-muted: #6b7280;
  --font-display: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-color: var(--color-dark-accent) var(--color-surface);
    scrollbar-width: thin;
  }

  html::-webkit-scrollbar {
    width: 4px;
  }

  html::-webkit-scrollbar-track {
    background: var(--color-surface);
  }

  html::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--color-accent);
  }

  body {
    overflow-x: hidden;
    background: var(--color-bg);
    /* color: var(--color-text); */
    font-family: "DM Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background: var(--color-accent);
    color: var(--color-bg);
  }
}

@layer utilities {
  .glass {
    border: 1px solid rgb(255 255 255 / 0.06);
    background: rgb(255 255 255 / 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .accent-glow {
    box-shadow: 0 0 24px rgb(16 185 129 / 0.18);
  }

  .text-gradient {
    background: linear-gradient(
      135deg,
      var(--color-accent),
      var(--color-accent-glow)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@theme {
  --animate-fade-up: fade-up 0.5s ease-out forwards;

  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
